@font-face {
  font-family: 'Geist-Light';
  src: url('/fonts/Geist-Light.ttf');
}

@font-face {
  font-family: 'Geist-Regular';
  src: url('/fonts/Geist-Regular.ttf');
}

@font-face {
  font-family: 'Geist-Bold';
  src: url('/fonts/Geist-Bold.ttf');
}

:root {
  --header-height: 3.5rem;

  --primaryColor: #f4f4f5;
  --primaryColorAlt: #d4d4d8;
  --textColor: #71717a;
  --whiteColor: #fff;
  --bodyColor: #09090b;
  --bodyColorAlt: #18181b;
  --borderColor: #1f1f1f;

  --body-font: Geist-Regular, sans-serif;
  --h1-font--size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--bodyColor);
  color: var(--primaryColor);
}

h1,
h2,
h3 {
  font-family: Geist-Bold, sans-serif;
  color: var(--primaryColor);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

/* Header and Nav */
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
}

.nav-logo,
.nav-toggle {
  color: var(--titleColor);
  display: inline-flex;
}

.nav-logo {
  font-family: Geist-Bold, sans-serif;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav-logo:hover {
  color: var(--primaryColorAlt);
}

.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(60px);
    transition: 0.3s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav-link {
  font-family: Geist-Bold, sans-serif;
  text-transform: uppercase;
  color: var(--titleColor);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--primaryColorAlt);
}

.nav-close {
  font-size: 2rem;
  color: var(--whiteColor);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Show Menu */
.show-menu {
  right: 0;
}

/* Change BG Header */
.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--bodyColor);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active Link */
.active-link {
  color: var(--primaryColorAlt);
}

/* Home */
.home {
  position: relative;
  overflow: hidden;
}

.home-container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--h1-font--size);
  margin-bottom: 1rem;
}

.home-subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.home-gas {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--primaryColor);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.home-gas i {
  font-family: Geist-Light, sans-serif;
  color: var(--primaryColorAlt);
}

.home-img {
  width: 350px;
  justify-self: center;
}

.home-car {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 2rem;
}

.home-car-name {
  font-family: Geist-Light, sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--text-color-light);
}

.home-car-data {
  text-align: center;
}

.home-car-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.home-car-icon {
  background-color: var(--bodyColor);
  border: 1px solid var(--borderColor);
  border-radius: 50%;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

/* About Button */
.button {
  font-family: Geist-Bold, sans-serif;
  display: inline-block;
  background-color: var(--bodyColor);
  color: var(--whiteColor);
  padding: 1rem 2rem;
  border: 1.5px solid var(--borderColor);
  border-radius: 0.4rem;
  font-size: var(--normal-font-size);
  transition: border-color 0.4s ease;
}

.button:hover {
  border-color: #454545;
}

.button2 {
  font-family: Geist-Bold, sans-serif;
  display: inline-block;
  background-color: var(--bodyColor);
  color: var(--whiteColor);
  padding: 1rem 2rem;
  border: 1.5px solid var(--borderColor);
  border-radius: 0.4rem;
  font-size: var(--normal-font-size);
  transition: border-color 0.4s ease;
}

.button2:hover {
  border-color: #454545;
}

/* About */
.about-container {
  row-gap: 6rem;
}

.about-group {
  position: relative;
}

.about-img {
  width: 310px;
  border-radius: 0.5rem;
}

.about-card {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem 0.75rem;
  text-align: center;
  border-radius: 0.75rem;
}

.about-card-title {
  font-family: Geist-Bold, sans-serif;
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.about-card-description {
  font-family: Geist-Regular, sans-serif;
  font-size: var(--smaller-font-size);
}

.about-title {
  font-family: Geist-Bold, sans-serif;
  text-align: initial;
  margin-bottom: 2rem;
}

.about-description {
  font-family: Geist-Regular, sans-serif;
  color: var(--textColor);
  margin-bottom: 2rem;
}

/* Popular */
.popular-container {
  padding-top: 1rem;
}

.popular-card {
  position: relative;
  width: 240px;
  background-color: var(--bodyColor);
  padding: 2rem 1.5rem 1.5rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
  border: 1.5px solid var(--borderColor);
  border-radius: 1rem;
  transition: all 0.4s ease;
}

.popular-card:hover {
  border-color: #454545;
  box-shadow: 0 0 15px #454545;
}

.popular-card .shape-smaller {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.popular-title,
.popular-subtitle,
.popular-img {
  position: relative;
}

.popular-title {
  font-family: Geist-Bold, sans-serif;
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.popular-subtitle {
  font-family: Geist-Light, sans-serif;
  font-size: var(--normal-font-size);
  color: var(--primaryColorAlt);
  font-weight: 400;
}

.popular-img {
  width: 160px;
  margin: 0.75rem 0 1.25rem 1.5rem;
  transition: 0.3s;
}

.popular-data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 1.25rem;
  margin-bottom: 2rem;
}

.popular-data-group {
  font-family: Geist-Light, sans-serif;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--smaller-font-size);
  color: var(--whiteColor);
}

.popular-data {
  font-size: 1rem;
}

.popular-price {
  font-family: Geist-Bold, sans-serif;
  font-size: var(--h3-font-size);
}

.popular-button {
  border: 1px solid var(--borderColor);
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 0.895rem 0;
  cursor: pointer;
}

.popular-button:hover {
  background-color: var(--bodyColorAlt);
}

.popular-button i {
  font-size: 1.25rem;
}

.popular-card:hover .popular-img {
  transform: translateX(-0.55rem);
}

/* Swiper Class */
.swiper-pagination-bullet {
  background: var(--primaryColorAlt);
}

.swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}

/* Characteristics */
.characteristics {
  overflow: hidden;
  position: relative;
}

.characteristics-container {
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
}

.characteristics-group {
  display: grid;
  position: relative;
  z-index: 10;
}

.characteristics-img {
  width: 300px;
  justify-self: center;
  border-radius: 0.5rem;
}

.characteristics-card {
  width: 112px;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 1.25rem;
  padding: 0.75rem 2rem;
  text-align: center;
  color: var(--primaryColorAlt);
  position: absolute;
}

.characteristics-card-1 {
  top: -1rem;
  left: -3.5rem;
}

.characteristics-card-2 {
  top: 7rem;
  right: -3rem;
}

.characteristics-card-title {
  font-family: Geist-Bold, sans-serif;
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.characteristics-card-description {
  font-family: Geist-Regular, sans-serif;
  font-size: var(--smaller-font-size);
}

/* Featured */
.featured-container {
  padding-top: 1rem;
}

.featured-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.featured-item {
  width: 48px;
  height: 48px;
  outline: none;
  padding: 0.75rem;
  border: 1.5px solid var(--borderColor);
  border-radius: 0.75rem;
  background-color: var(--bodyColor);
  color: var(--whiteColor);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: all 0.4s ease;
}

.featured-item img {
  width: 1.5rem;
}

.featured-item span,
.featured-item img {
  opacity: 0.3;
  transition: 0.4s;
}

.featured-item:hover {
  border-color: #454545;
}

.featured-item:hover span,
.featured-item:hover img {
  opacity: 1;
}

.featured-content {
  grid-template-columns: 228px;
  row-gap: 2.5rem;
  justify-content: center;
}

.featured-card {
  background-color: var(--bodyColor);
  position: relative;
  padding: 2rem 1.5rem 2.5rem;
  border: 1.5px solid var(--borderColor);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.featured-card .shape-smaller {
  position: absolute;
  inset: 0;
  margin: auto;
}

.featured-title,
.featured-subtitle,
.featured-img {
  position: relative;
}

.featured-title {
  font-family: Geist-Bold, sans-serif;
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.featured-subtitle {
  font-family: Geist-Regular, sans-serif;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.featured-img {
  width: 195px;
  margin: 1.5rem 0;
  transition: 0.4s;
}

.featured-price {
  font-family: Geist-Regular, sans-serif;
  font-size: var(--h3-font-size);
}

.featured-button {
  border: 1.5px solid var(--borderColor);
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 0.895rem 0;
  cursor: pointer;
}

.featured-button i {
  font-size: 1.25rem;
}

.featured-card:hover {
  border-color: #454545;
  box-shadow: 0 0 15px #454545;
}

.featured-card:hover .featured-img {
  transform: translateX(-0.25rem);
}

/* Activate Link Featured */
.activate-featured {
  border-color: #454545;
}

.activate-featured span,
.activate-featured img {
  opacity: 1;
}

/* Ofert */
.ofert {
  position: relative;
}

.ofert-container {
  grid-template-rows: max-content 224px;
}

.ofert-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ofert-data,
.ofert-img {
  position: relative;
}

.ofert-data {
  text-align: center;
}

.ofert-title {
  font-family: Geist-Bold, sans-serif;
  margin-bottom: 2rem;
}

.ofert-description {
  font-family: Geist-Light, sans-serif;
  color: var(--textColor);
  margin-bottom: 3rem;
}

.ofert-img {
  position: absolute;
  max-width: initial;
  width: 400px;
  bottom: 2rem;
  right: -5.5rem;
}

/* Logos */
.logos-img {
  width: 40px;
  opacity: 0.4;
  transition: 0.4s;
}

.logos-container {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
}

.logos-img:hover {
  opacity: 1;
}

/* Footer */
.footer {
  position: relative;
  overflow: hidden;
}

.footer-container {
  row-gap: 2.5rem;
  position: relative;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--primaryColor);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.25rem;
  transition: 0.4s;
}

.footer-img {
  width: 50px;
}

.footer-logo:hover {
  color: var(--primaryColorAlt);
}

.footer-description {
  color: var(--textColor);
}

.footer-title {
  color: var(--primaryColor);
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-link,
.footer-social-link {
  color: var(--textColor);
  transition: 0.3s;
}

.footer-link:hover,
.footer-social-link:hover {
  color: var(--primaryColorAlt);
}

.footer-social {
  display: flex;
  column-gap: 1.5rem;
}

.footer-social-link {
  font-size: 1.25rem;
}

.footer-copy {
  font-family: Geist-Bold;
  color: var(--primaryColor);
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--small-font-size);
}

.footer-copy a {
  font-family: Geist-Bold;
  color: var(--primaryColor);
  text-decoration: none;
  cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--bodyColorAlt);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}

/* Scroll Up */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--bodyColorAlt);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: 0.45rem;
  border-radius: 0.5rem;
  font-size: 1.15rem;
  color: var(--whiteColor);
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*BREAKPOINTS*/
/* Small Devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .logo {
    width: 35px;
    margin-top: 10px;
  }

  .home-car {
    column-gap: 2rem;
  }

  .about-card {
    width: 150px;
  }

  .characteristics-card {
    width: 95px;
  }
  .characteristics-img {
    width: 85%;
  }
  .characteristics-card-1 {
    top: -3.5rem;
    left: 0.5rem;
  }
  .characteristics-card-2 {
    top: 4.5rem;
    right: 0.5rem;
  }

  .ofert-container {
    grid-template-rows: max-content 180px;
  }
  .ofert-img {
    width: 340px;
  }

  .logos-container {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    width: 35px;
    margin-top: 10px;
  }
}

/* Medium Devices */
@media screen and (min-width: 576px) {
  .logo {
    width: 35px;
    margin-top: 10px;
  }

  .about-group {
    width: 350px;
    justify-self: center;
  }

  .characteristics-img {
    width: 145%;
  }
  .characteristics-card-1 {
    top: -2.5rem;
    left: -6.5rem;
  }
  .characteristics-card-2 {
    top: 11.5rem;
    right: -6.5rem;
  }

  .featured-content {
    grid-template-columns: repeat(2, 228px);
  }

  .ofert-container {
    grid-template-rows: initial;
    grid-template-columns: 0.5fr;
    justify-content: center;
  }
  .ofert-img {
    position: relative;
    bottom: initial;
    right: initial;
  }
  .ofert-data {
    margin-bottom: 4rem;
  }
}

/* Medium Devices 2 */
@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2 rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }
  .nav-link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-card {
    bottom: 3rem;
  }

  .logos-container {
    gap: 4rem 8rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large Devices */
@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home-container {
    padding-top: 2rem;
  }
  .home-img {
    width: 380px;
  }
  .home-car {
    column-gap: 7rem;
  }
  .home-car-icon {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .about-container {
    column-gap: 6rem;
    align-items: center;
  }
  .about-card {
    bottom: -4rem;
    left: 20rem;
    width: 200px;
  }
  .about-group,
  .about-img {
    width: 480px;
  }
  .about-description {
    padding-right: 4rem;
    margin-bottom: 3rem;
  }

  .popular-container {
    width: 875px;
    padding-top: 3rem;
  }
  .popular-card {
    width: 258px;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
  }
  .popular-img {
    width: 180px;
    margin: 0.75rem 0 1.25rem 2rem;
  }

  .characteristics-container {
    padding: 2rem 0 3rem;
  }
  .characteristics-img {
    width: 260%;
  }
  .characteristics-card-1 {
    top: -3.5rem;
    left: -15.5rem;
    width: 170px;
    height: 80px;
  }
  .characteristics-card-2 {
    top: 22.5rem;
    right: -17.5rem;
    width: 200px;
    height: 80px;
  }

  .featured-container {
    padding-bottom: 2.5rem;
  }
  .featured-filters {
    column-gap: 2rem;
    margin-bottom: 4.5rem;
  }
  .featured-item {
    width: 52px;
    height: 52px;
  }
  .featured-item img {
    width: 1.8rem;
  }
  .featured-content {
    grid-template-columns: repeat(3, 248px);
    gap: 4rem;
  }

  .ofert-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
  }
  .ofert-data,
  .ofert-title {
    text-align: initial;
  }
  .ofert-data {
    margin-bottom: 0;
  }
  .ofert-description {
    padding-right: 6rem;
  }
  .ofert-img {
    width: 450px;
  }

  .logos-container {
    grid-template-columns: repeat(6, max-content);
  }
  .logos-img {
    width: 50px;
  }

  .footer-container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer-logo {
    column-gap: 0.5rem;
  }
  .footer-logo i {
    font-size: 2rem;
  }
  .footer-title {
    margin-bottom: 1.5rem;
  }
  .footer-links {
    row-gap: 0.75rem;
  }
  .footer-social-link {
    font-size: 1.5rem;
  }
  .footer-copy {
    margin-top: 8rem;
    padding-bottom: 1rem;
  }

  .scrollup {
    right: 3rem;
  }
}
